kadai1/takata/takata
kadai1/takata/output/1.png
kadai1/takata/output/10.png
kadai1/takata/output/2.png
kadai1/takata/output/3.png
kadai1/takata/output/4.png
kadai1/takata/output/5.png
kadai1/takata/output/6.png
kadai1/takata/output/7.png
kadai1/takata/output/8.png
kadai1/takata/output/9.png
kadai2/takata/takata
kadai2/takata/output/1.png
kadai2/takata/output/10.png
kadai2/takata/output/2.png
kadai2/takata/output/3.png
kadai2/takata/output/4.png
kadai2/takata/output/5.png
kadai2/takata/output/6.png
kadai2/takata/output/7.png
kadai2/takata/output/8.png
kadai2/takata/output/9.png
